{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>HTML5</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="http://localhost:8000/forum/">Forum</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="http://localhost:8000/forum/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mr-auto">
                    <a class="nav-link active" href="http://localhost:8000/profile/">Profile</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item mr-auto">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item mr-auto">
                    <a class="nav-link active" href="{% url 'login' %}" tabindex="-1" aria-disabled="true">Login</a>
                </li>
                {% endif %}
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>



    {% block title %}

    {% endblock %}

    {% block content %}
    {% for category in categories %}
    <div class="mx-auto">
        <div class="card-center mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ category.image.url }}" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ category.category_title }}</h5>
                        <a href="{% url 'posts_url' post.post_slug %}" class="btn btn-primary">Read</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    {% endfor %}
    {% endblock %}
</body>
</html>